<% @page_title = "TOP画面" %>

<h2>検索</h2>
<td>キーワード　<input type="text" size="16" style="width: 120px" /><input type="submit" value="検索" /></td>
<br>
<h2>項目検索</h2>
<p>＜カテゴリ＞</p>
<p>選択項目...</p>
<p>選択項目...</p><p>選択項目...</p><p>選択項目...</p><p>選択項目...</p><p>選択項目...</p><p>選択項目...</p>
<p><input type="submit" value="検索" /></p>
<h2>ルーレット　<input type="submit" value="ルーレットを回す" /></h2>
