<section class="result">
    <div class="title">
      <h1>&emsp;世界の美味しいご飯</h1>
    </div>
  </section>

  <section class="worldfood">
    <div class="worldfood">
    <%= image_tag("food.png") %>
  　</div>
  </section>

  <section class="back">
   <a href="">
   <i class="fa fa-arrow-circle-left " aria-hidden="true"></i>
   <%= menu_link_to "TOPに戻る", :top %>
   </a>
 </section>
