/* title */

section.result2s {
  margin: 30px auto;
}

.title h1 {
	padding: .75em 0;
	border-top: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
  color: #ccc
}

/* food */

div.worldfood {
  padding-bottom: 0;
  width: 600px;
  height: 250px;
  margin: auto;
}


.worldfood img {
  width: 600px;
  height: 200px;
  margin: 20px auto;
}

/* back */

section.back i {
  margin: 0 5px 30px 50px;
}

section.back h3 {
  position:relative;
  top:-3px;

}
